/* Your app custom styles here */

.panel {
    width: 400px;
}

#map {
    top: 0; 
    width: 100%;
    height: "100%";
    min-height: "100%";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.leaflet-control-container .leaflet-routing-container {
    background-color: #333;
    color: #fff;
    display: none;
  }


  .add_marker_control {
	background-image: url('/add_marker.png');
	width: 22px;
    height: 22px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #ffffff;
}

.add_marker_control:hover {
	background-color: #f4f4f4;
}

.del_marker_control {
	background-image: url('/del_marker.png');
	width: 22px;
    height: 22px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #ffffff;
}

.del_marker_control:hover {
	background-color: #f4f4f4;
} 

.add_marker_control[data-selected="true"] {
    background-color: green;
  }
  
  .del_marker_control[data-selected="true"] {
    background-color: red;
  }
  



@media only screen and (max-width: 1200px) {
    .panel {
        width: 260px;
    }
}